<p-table            
    [columns]="colunasSelecionadas"
    [value]="pmTableConfig.dados">
    <ng-template pTemplate="header" let-rowIndex="rowIndex">
        <th *ngFor="let col of colunasSelecionadas" pSortableColumn="{{col.id}}"
            [style.display]="col?.hidden ? 'none !important' : ''"
            [style.minWidth.px]="col.larguraFinal" [style.maxWidth.px]="col.larguraFinal">
            <div style="display: flex; align-items: center;" *ngIf="(col.label != '' || col.tipo != 'checkbox')"> {{col.label}}
                <p-sortIcon *ngIf="col.tipo !== 'boolean'" field="{{col.id}}"></p-sortIcon>
                <!-- Criação do Filtro Compacto INÍCIO -->
                <ng-container *ngIf="pmTableConfig?.filtroCompacto == true">
                <ng-container *ngIf="col.tipo !== 'boolean'">
                    <ng-container *ngIf="col.dropdown === false || col.dropdown === undefined">
                    <p-columnFilter style="padding-left: 5px;" type="{{col.tipo ? col.tipo : 'text'}}" field="{{col.id}}" display="menu"></p-columnFilter>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="col.tipo == 'boolean'">
                    <p-columnFilter style="padding-left: 5px;" type="{{col.tipo ? col.tipo : 'text'}}" field="{{col.id}}"></p-columnFilter>
                </ng-container>
                </ng-container>
                <!-- Criação do Filtro Compacto FIM -->
            </div>
        </th>
    </ng-template>
    <ng-template pTemplate="body" let-dados let-colunas="pmTableConfig?.colunas" let-ri="rowIndex" let-editando="editando" let-expanded="expanded">
        <td *ngIf="pmTableConfig?.checkbox" style="width: 4rem; padding-left: 15px;">
            <p-tableCheckbox [value]="dados"></p-tableCheckbox >
        </td>
        <td *ngFor="let col of colunasSelecionadas" [style.display]="col?.hidden ? 'none !important' : ''" [style.minWidth.px]="col.larguraFinal" [style.maxWidth.px]="col.larguraFinal">
            {{ dados[col.id] }}
        </td>
    </ng-template>
</p-table>