<!-- <p-card [style]="{ 'height': '7vh' }">
  <div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">
        <span>Projeto Imobiliário</span>
    </a>
    <p-button (click)="sidebarVisible = true" icon="pi pi-bars" [style]="{'background-color': '#2A323D', 'color': '#e3e4e6', 'border': '#e3e4e6' }"></p-button>
  </div>
</p-card> -->

<div>
  <p-toolbar [style]="{ 'margin-bottom': '10px' }">
    <p-button (click)="sidebarVisibleToogle()" icon="pi pi-bars"></p-button>
  </p-toolbar>

  <p-sidebar [style]="{ 'margin-top': '0', 'position': 'absolute', 'top': '105px', 'left': '0' }" 
             (onHide)="onHide()" 
             (onShow)="onShow()" 
             [(visible)]="sidebarVisible" 
             [modal]="false">
    <div>
      <p-panelMenu [model]="menus"></p-panelMenu>
    </div>
  </p-sidebar>
</div>

