<div class="card">
    <p-breadcrumb [model]="pmFormConfig.breadcrumb?.items" [home]="pmFormConfig.breadcrumb?.home"></p-breadcrumb>
    
    <div class="buttons-primary-form" *ngIf="pmFormConfig.primaryButtons">
        <div style="padding-left: 10px" *ngFor="let button of pmFormConfig.primaryButtons">
            <app-pm-button [icon]="button.icon" [placeholder]="button.placeholder"></app-pm-button>
        </div>
    </div>
    <h5 class="card-name">{{ pmFormConfig.title }}</h5>

    <div *ngFor="let field of pmFormConfig.fields">
        <div *ngIf="field.type">
            <ng-container [ngSwitch]="field.type[0]">
    
                <div *ngSwitchCase="'table'">
                    <ng-container *ngIf="isPmTableConfig(field)">
                        <app-pm-table [pmTableConfig]="field"></app-pm-table>
                    </ng-container>
                </div>
                <div *ngSwitchCase="'dropdown'">
                    <ng-container *ngIf="isPmDropdownConfig(field)">
                        <app-pm-dropdown [pmDropdownConfig]="field"></app-pm-dropdown>
                    </ng-container>
                </div>
                
                <span *ngSwitchDefault>Tipo {{ field.type }} não possui componente implementado.</span>
            </ng-container>
        </div>
    </div>
</div>