<div *ngIf="pmInputConfig.visible">
    <div class="p-inputgroup" [ngStyle]="{ 'width': pmInputConfig.width }">
        <span class="p-float-label">
            <span #icon class="p-inputgroup-addon"><i class="{{ pmInputConfig.icon }}"></i></span>

            <input *ngIf="!pmInputConfig.passwordField" style="border-radius: 0px 4px 4px 0px;" pInputText class="ui-inputtext ui-widget" [readOnly]="pmInputConfig.readOnly">

            <input *ngIf="pmInputConfig.passwordField" type="password" pPassword [readOnly]="pmInputConfig.readOnly">

            <textarea pInputTextArea *ngIf="!pmInputConfig.passwordField && pmInputConfig.textArea" [rows]="5"></textarea>

            <label style="margin-left: 35px">{{ pmInputConfig.placeholder }}</label>
        </span>
    </div>
</div>
