/* styles.css ou styles.scss */
@import 'primeng/resources/primeng.min.css';
@import 'primeicons/primeicons.css';

:root {
    --surface-card: #2a323d;
}
  
.card {
  background: var(--surface-card);
  border: 1px solid var(--surface-border);
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: var(--card-shadow);
  border-radius: 6px;
  height: 87vh;
}

.card-name {
  font-size: 30px;
  margin: 0;
}
  